In [2]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
import psycopg2

%matplotlib inline

In [23]:
# Extract all daily digital currency data from SQL database:
def all_assts_from_sql(asst1, asst2, sql_limit_num, location, till_date):
    conn = psycopg2.connect(database="bitmexdata", user="postgres", password="tongKen123", host="128.199.97.202", port="5432")
    asset1 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst1, sql_limit_num)
    asset2 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst2, sql_limit_num)

    df1 = pd.read_sql(asset1, con=conn)
    df2 = pd.read_sql(asset2, con=conn)

    conn.close()
    
    # =============================================常出问题=============================================
    df1.to_csv(location+"{}".format(till_date)+asst1+".csv", index = False)
    df2.to_csv(location+"{}".format(till_date)+asst2+".csv", index = False)


# standardize and reset the price:
# file_suffix example: 'z18_1d.csv'
# added_note example: 'u18z18乘'
# till_date example: '11_10_'
def reset_price(location, till_date, file_suffix, added_note):

    symlist = ['bch', 'eth']

    for s in symlist:
        if s == 'bch':
            c = 10
        elif s == 'eth':
            c = 10
        
#         b = pd.read_csv(location + till_date + s + file_suffix,header=None)

        # =============================================常出问题=============================================
        b = pd.read_csv(location + "{}".format(till_date) + s + file_suffix + ".csv")
        b.iloc[:, [1, 2, 3, 4]] = b.iloc[:, [1, 2, 3, 4]].astype(float)
        b.iloc[:, [1, 2, 3, 4]] = (b.iloc[:, [1, 2, 3, 4]]) * c
        
        # =============================================常出问题=============================================
        b.to_csv(location + 'res_' + till_date + s + file_suffix + '.csv',
                 sep=',', header=False, index=False, float_format='%.4f')

location = "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracting_and_transforming_data/"
till_date = "11_28_new_"
frequency = "_1d"
file_suffix = 'u18z18'+frequency
added_note = 'u18z18'

all_assts_from_sql("bch"+file_suffix,
                   "eth"+file_suffix,
                   1000,
                   "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracting_and_transforming_data/",
                   till_date)

reset_price(location, till_date, file_suffix, added_note)

bch_df = pd.read_csv(location + "res_"+till_date+"bch"+file_suffix+".csv", engine="python", header=None)
eth_df = pd.read_csv(location + "res_"+till_date+"eth"+file_suffix+".csv", engine="python", header=None)

In [20]:
eth_df

                       0      1      2      3      4         5
0    2018-11-27 00:00:00  2.878  2.911  2.789  2.885   21107.0
1    2018-11-26 00:00:00  2.924  2.955  2.855  2.878   49319.0
2    2018-11-25 00:00:00  2.915  2.939  2.783  2.924   79968.0
3    2018-11-24 00:00:00  2.802  2.935  2.794  2.915   27275.0
4    2018-11-23 00:00:00  2.848  2.873  2.751  2.802   26153.0
5    2018-11-22 00:00:00  2.940  2.952  2.845  2.848   10576.0
6    2018-11-21 00:00:00  2.901  2.977  2.821  2.940   28717.0
7    2018-11-20 00:00:00  3.034  3.057  2.795  2.901   65133.0
8    2018-11-19 00:00:00  3.130  3.133  2.838  3.034   56458.0
9    2018-11-18 00:00:00  3.119  3.150  3.107  3.130   11346.0
10   2018-11-17 00:00:00  3.119  3.145  3.066  3.119    9443.0
11   2018-11-16 00:00:00  3.177  3.190  3.116  3.119   15004.0
12   2018-11-15 00:00:00  3.135  3.189  3.103  3.177   33813.0
13   2018-11-14 00:00:00  3.276  3.290  2.801  3.135  125382.0
14   2018-11-13 00:00:00  3.343  3.343  3.257  3.276   30332.0
15   2018-11-12 00:00:00  3.346  3.351  3.320  3.343   10632.0
16   2018-11-11 00:00:00  3.348  3.351  3.310  3.346   12636.0
17   2018-11-10 00:00:00  3.322  3.364  3.314  3.348   10941.0
18   2018-11-09 00:00:00  3.314  3.343  3.281  3.322   23078.0
19   2018-11-08 00:00:00  3.355  3.370  3.304  3.314   21242.0
20   2018-11-07 00:00:00  3.424  3.445  3.326  3.355   45198.0
21   2018-11-06 00:00:00  3.279  3.428  3.264  3.424   43645.0
22   2018-11-05 00:00:00  3.299  3.307  3.240  3.279   25509.0
23   2018-11-04 00:00:00  3.154  3.383  3.149  3.299   28847.0
24   2018-11-03 00:00:00  3.158  3.164  3.150  3.154    5426.0
25   2018-11-02 00:00:00  3.129  3.167  3.129  3.158   12227.0
26   2018-11-01 00:00:00  3.128  3.132  3.127  3.129    2887.0
27   2018-10-31 00:00:00  3.124  3.138  3.108  3.128    6561.0
28   2018-10-30 00:00:00  3.111  3.127  3.102  3.124    8360.0
29   2018-10-29 00:00:00  3.168  3.186  3.089  3.111   22601.0
..                   ...    ...    ...    ...    ...       ...
132  2018-07-18 00:00:00  7.021  7.087  6.570  6.656   86602.0
133  2018-07-17 00:00:00  7.214  7.220  6.899  7.021   57435.0
134  2018-07-16 00:00:00  7.132  7.255  7.095  7.214   12916.0
135  2018-07-15 00:00:00  7.011  7.186  6.986  7.132   10294.0
136  2018-07-14 00:00:00  7.008  7.055  7.004  7.011    4923.0
137  2018-07-13 00:00:00  6.940  7.089  6.949  7.008   11389.0
138  2018-07-12 00:00:00  7.010  7.039  6.924  6.940   12976.0
139  2018-07-11 00:00:00  6.930  7.040  6.807  7.010   16074.0
140  2018-07-10 00:00:00  7.177  7.186  6.771  6.930   31435.0
141  2018-07-09 00:00:00  7.293  7.298  7.177  7.177   11887.0
142  2018-07-08 00:00:00  7.246  7.350  7.245  7.293   12563.0
143  2018-07-07 00:00:00  7.151  7.249  7.127  7.246    7210.0
144  2018-07-06 00:00:00  7.200  7.210  7.044  7.151   13981.0
145  2018-07-05 00:00:00  7.146  7.233  7.138  7.200   10424.0
146  2018-07-04 00:00:00  7.158  7.268  7.100  7.146   20705.0
147  2018-07-03 00:00:00  7.270  7.361  7.132  7.158   27006.0
148  2018-07-02 00:00:00  7.157  7.370  7.090  7.270   41513.0
149  2018-07-01 00:00:00  7.139  7.175  7.087  7.157    8261.0
150  2018-06-30 00:00:00  7.066  7.249  7.046  7.139   18566.0
151  2018-06-29 00:00:00  7.200  7.220  6.944  7.066   21458.0
152  2018-06-28 00:00:00  7.210  7.262  7.100  7.200    4370.0
153  2018-06-27 00:00:00  7.100  7.226  7.001  7.210    5410.0
154  2018-06-26 00:00:00  7.398  7.426  7.100  7.100    4643.0
155  2018-06-25 00:00:00  7.452  7.740  7.313  7.398    2564.0
156  2018-06-24 00:00:00  7.724  7.724  7.273  7.452    2742.0
157  2018-06-23 00:00:00  7.624  7.744  7.543  7.724    1080.0
158  2018-06-22 00:00:00  7.879  7.878  7.411  7.624    3096.0
159  2018-06-21 00:00:00  8.012  8.153  7.803  7.879    1506.0
160  2018-06-20 00:00:00  7.999  8.050  7.910  8.012     592.0
161  2018-06-19 00:00:00  7.776  8.100  7.776  7.999     263.0

[162 rows x 6 columns]

In [7]:
def all_assts_from_sql(asst1, asst2, asst3, asst4, asst5, asst6, asst7, asst8, sql_limit_num, location, till_date):
    conn = psycopg2.connect(database="bitmexdata", user="postgres", password="tongKen123", host="128.199.97.202",
                            port="5432")
    asset1 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst1,sql_limit_num)
    asset2 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst2,sql_limit_num)
    asset3 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst3,sql_limit_num)
    asset4 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst4,sql_limit_num)
    asset5 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst5,sql_limit_num)
    asset6 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst6,sql_limit_num)
    asset7 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst7,sql_limit_num)
    asset8 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst8,sql_limit_num)
    df1 = pd.read_sql(asset1, con=conn)
    df2 = pd.read_sql(asset2, con=conn)
    df3 = pd.read_sql(asset3, con=conn)
    df4 = pd.read_sql(asset4, con=conn)
    df5 = pd.read_sql(asset5, con=conn)
    df6 = pd.read_sql(asset6, con=conn)
    df7 = pd.read_sql(asset7, con=conn)
    df8 = pd.read_sql(asset8, con=conn)
    conn.close()
    #     return df1, df2, df3, df4, df5, df6, df7, df8
    df1.to_csv(location + "{}".format(till_date) + asst1 + ".csv", index=False)
    df2.to_csv(location + "{}".format(till_date) + asst2 + ".csv", index=False)
    df3.to_csv(location + "{}".format(till_date) + asst3 + ".csv", index=False)
    df4.to_csv(location + "{}".format(till_date) + asst4 + ".csv", index=False)
    df5.to_csv(location + "{}".format(till_date) + asst5 + ".csv", index=False)
    df6.to_csv(location + "{}".format(till_date) + asst6 + ".csv", index=False)
    df7.to_csv(location + "{}".format(till_date) + asst7 + ".csv", index=False)
    df8.to_csv(location + "{}".format(till_date) + asst8 + ".csv", index=False)


# standardize and reset the price:
# file_suffix example: 'z18_1d.csv'
# added_note example: 'u18z18乘'
# till_date example: '11_10_'
def reset_price(location, till_date, file_suffix, added_note):
    symlist = ['ada', 'bch', 'eth', 'eos', 'trx', 'xrp', 'ltc']

    for s in symlist:
        if s == 'ada':
            c = 10000000
        elif s == 'bch':
            c = 1000
        elif s == 'eos':
            c = 100000
        elif s == 'eth' or s == 'ltc':
            c = 10000
        elif s == 'trx':
            c = 100000000
        elif s == 'xrp':
            c = 10000000

        # b = pd.read_csv(location + till_date + s + file_suffix,header=None)
        b = pd.read_csv(location + "{}".format(till_date) + s + file_suffix + ".csv")
        b.iloc[:, [1, 2, 3, 4]] = b.iloc[:, [1, 2, 3, 4]].astype(float)
        b.iloc[:, [1, 2, 3, 4]] = (b.iloc[:, [1, 2, 3, 4]]) * c
        b.to_csv(location + 'res_' + till_date + s + file_suffix + '.csv',
                 sep=',', header=False, index=False, float_format='%.4f')
       

    
    
location = "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracting_and_transforming_data/"
till_date = "11_30_og_"
frequency = "_1d"
file_suffix = 'u18z18' + frequency
added_note = 'u18z18'

all_assts_from_sql("ada" + file_suffix, "bch" + file_suffix, "eos" + file_suffix,
                   "eth" + file_suffix, "ltc" + file_suffix, "trx" + file_suffix,
                   "xbtusd" + frequency, "xrp" + file_suffix, 1000,
                   "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracting_and_transforming_data/",
                   till_date)


reset_price(location, till_date, file_suffix, added_note)

# ada_df = pd.read_csv(location + "res_" + till_date + "ada" + added_note + "10000000.csv", engine="python", header=None)
# bch_df = pd.read_csv(location + "res_" + till_date + "bch" + added_note + "1000.csv", engine="python", header=None)
# eos_df = pd.read_csv(location + "res_" + till_date + "eos" + added_note + "100000.csv", engine="python", header=None)
# eth_df = pd.read_csv(location + "res_" + till_date + "eth" + added_note + "10000.csv", engine="python", header=None)
# ltc_df = pd.read_csv(location + "res_" + till_date + "ltc" + added_note + "10000.csv", engine="python", header=None)
# trx_df = pd.read_csv(location + "res_" + till_date + "trx" + added_note + "100000000.csv", engine="python", header=None)
# xrp_df = pd.read_csv(location + "res_" + till_date + "xrp" + added_note + "10000000.csv", engine="python", header=None)
btc_df = pd.read_csv(location + till_date + "xbtusd" + frequency + ".csv", engine="python", header=None)
btc_df = btc_df.iloc[1:, :]
btc_df.to_csv(location + "res_" + till_date + "xbtusd" + frequency + ".csv",
              sep=',', header=False, index=False, float_format='%.2f')