In [1]:
import pandas as pd, numpy as np
from datetime import datetime
import psycopg2

In [45]:
def all_assts_from_sql(asst1, asst2, asst3, asst4, asst5, asst6, asst7, asst8, sql_limit_num, location, till_date):
    conn = psycopg2.connect(database="bitmexdata", user="postgres", password="tongKen123", host="128.199.97.202",
                            port="5432")
    asset1 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst1,
                                                                                                    sql_limit_num)
    asset2 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst2,
                                                                                                    sql_limit_num)
    asset3 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst3,
                                                                                                    sql_limit_num)
    asset4 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst4,
                                                                                                    sql_limit_num)
    asset5 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst5,
                                                                                                    sql_limit_num)
    asset6 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst6,
                                                                                                    sql_limit_num)
    asset7 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst7,
                                                                                                    sql_limit_num)
    asset8 = "SELECT time, open, high, low, close, volume from {} order by id desc limit {}".format(asst8,
                                                                                                    sql_limit_num)
    df1 = pd.read_sql(asset1, con=conn)
    df2 = pd.read_sql(asset2, con=conn)
    df3 = pd.read_sql(asset3, con=conn)
    df4 = pd.read_sql(asset4, con=conn)
    df5 = pd.read_sql(asset5, con=conn)
    df6 = pd.read_sql(asset6, con=conn)
    df7 = pd.read_sql(asset7, con=conn)
    df8 = pd.read_sql(asset8, con=conn)
    conn.close()
    #     return df1, df2, df3, df4, df5, df6, df7, df8
    df1.to_csv(location + "{}".format(till_date) + asst1 + ".csv", index=False)
    df2.to_csv(location + "{}".format(till_date) + asst2 + ".csv", index=False)
    df3.to_csv(location + "{}".format(till_date) + asst3 + ".csv", index=False)
    df4.to_csv(location + "{}".format(till_date) + asst4 + ".csv", index=False)
    df5.to_csv(location + "{}".format(till_date) + asst5 + ".csv", index=False)
    df6.to_csv(location + "{}".format(till_date) + asst6 + ".csv", index=False)
    df7.to_csv(location + "{}".format(till_date) + asst7 + ".csv", index=False)
    df8.to_csv(location + "{}".format(till_date) + asst8 + ".csv", index=False)


# standardize and reset the price:
# file_suffix example: 'z18_1d.csv'
# added_note example: 'u18z18ä¹˜'
# till_date example: '11_10_'
def reset_price(location, till_date, file_suffix, added_note):
    symlist = ['ada', 'bch', 'eth', 'eos', 'trx', 'xrp', 'ltc']

#     for s in symlist:
#         if s == 'ada':
#             c = 10000000
#         elif s == 'bch':
#             c = 1000
#         elif s == 'eos':
#             c = 100000
#         elif s == 'eth' or s == 'ltc':
#             c = 10000
#         elif s == 'trx':
#             c = 100000000
#         elif s == 'xrp':
#             c = 10000000
    for s in symlist:
        if s == 'ada':
            c = 100000000 #
        elif s == 'bch':
            c = 10000 #
        elif s == 'eos':
            c = 1000000 #
        elif s == 'eth':
            c = 10000
        elif s == 'ltc':
            c = 100000 #
        elif s == 'trx':
            c = 100000000
        elif s == 'xrp':
            c = 10000000
            
        # b = pd.read_csv(location + till_date + s + file_suffix,header=None)
        b = pd.read_csv(location + "{}".format(till_date) + s + file_suffix + ".csv")
        b.iloc[:, [1, 2, 3, 4]] = b.iloc[:, [1, 2, 3, 4]].astype(float)
        b.iloc[:, [1, 2, 3, 4]] = (b.iloc[:, [1, 2, 3, 4]]) * c
        b.to_csv(location + 'res_' + till_date + s + file_suffix + '.csv',
                 sep=',', header=False, index=False, float_format='%.4f')


location = "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracting_and_transforming_data/"
till_date = "12_03_og_all_hundreds_"
frequency = "_1d"
file_suffix = 'u18z18' + frequency
added_note = 'u18z18'

all_assts_from_sql("ada" + file_suffix, "bch" + file_suffix, "eos" + file_suffix,
                   "eth" + file_suffix, "ltc" + file_suffix, "trx" + file_suffix,
                   "xbtusd" + frequency, "xrp" + file_suffix, 1000,
                   "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracting_and_transforming_data/",
                   till_date)

reset_price(location, till_date, file_suffix, added_note)

# ada_df = pd.read_csv(location + "res_" + till_date + "ada" + added_note + "10000000.csv", engine="python", header=None)
# bch_df = pd.read_csv(location + "res_" + till_date + "bch" + added_note + "1000.csv", engine="python", header=None)
# eos_df = pd.read_csv(location + "res_" + till_date + "eos" + added_note + "100000.csv", engine="python", header=None)
# eth_df = pd.read_csv(location + "res_" + till_date + "eth" + added_note + "10000.csv", engine="python", header=None)
# ltc_df = pd.read_csv(location + "res_" + till_date + "ltc" + added_note + "10000.csv", engine="python", header=None)
# trx_df = pd.read_csv(location + "res_" + till_date + "trx" + added_note + "100000000.csv", engine="python", header=None)
# xrp_df = pd.read_csv(location + "res_" + till_date + "xrp" + added_note + "10000000.csv", engine="python", header=None)
btc_df = pd.read_csv(location + till_date + "xbtusd" + frequency + ".csv", engine="python", header=None)
btc_df = btc_df.iloc[1:, :]
btc_df.to_csv(location + "res_" + till_date + "xbtusd" + frequency + ".csv",
              sep=',', header=False, index=False, float_format='%.4f')

In [3]:
location = "C:/Users/workspace/brad_public_workspace_on_win/SH_tongliang/data/extracting_and_transforming_data/"

In [4]:
ada_df = pd.read_csv(location + "res_12_03_og_adau18z18_1d.csv", engine="python", header=None)
bch_df = pd.read_csv(location + "res_12_03_og_bchu18z18_1d.csv", engine="python", header=None)
eos_df = pd.read_csv(location + "res_12_03_og_eosu18z18_1d.csv", engine="python", header=None)
eth_df = pd.read_csv(location + "res_12_03_og_ethu18z18_1d.csv", engine="python", header=None)
ltc_df = pd.read_csv(location + "res_12_03_og_ltcu18z18_1d.csv", engine="python", header=None)
trx_df = pd.read_csv(location + "res_12_03_og_trxu18z18_1d.csv", engine="python", header=None)
btc_df = pd.read_csv(location + "res_12_03_og_xbtusd_1d.csv", engine="python", header=None)
xrp_df = pd.read_csv(location + "res_12_03_og_xrpu18z18_1d.csv", engine="python", header=None)

In [33]:
ada_df.columns

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [41]:
print (ada_df[ada_df.columns[4]].min())
print (eth_df[eth_df.columns[4]].min())
print (bch_df[bch_df.columns[4]].min())
print (ltc_df[ltc_df.columns[4]].min())
print (eos_df[eos_df.columns[4]].min())
print (trx_df[trx_df.columns[4]].min())
print (xrp_df[xrp_df.columns[4]].min())
print (btc_df[btc_df.columns[4]].min())

94.3
275.8
41.7
72.5
68.73
282.0
415.9
408.68

In [14]:
eth_df.min()

0    2018-06-19 00:00:00
1                  275.8
2                  284.1
3                  269.5
4                  275.8
5                    263
dtype: object

In [15]:
ltc_df.min()

0    2018-06-19 00:00:00
1                   72.5
2                   74.3
3                   66.8
4                   72.5
5                   1047
dtype: object

In [22]:
bch_df.min()

0    2018-06-19 00:00:00
1                   41.7
2                   43.2
3                   31.3
4                   41.7
5                    118
dtype: object

In [23]:
100000/31

3225.8064516129034

In [17]:
eos_df.min()

0    2018-06-19 00:00:00
1                  69.79
2                  71.55
3                  66.18
4                  68.73
5                  22591
dtype: object

In [18]:
trx_df.min()

0    2018-06-27 00:00:00
1                    282
2                    288
3                    263
4                    282
5            3.09669e+07
dtype: object

In [19]:
xrp_df.min()

0    2018-06-19 00:00:00
1                  415.9
2                    434
3                  404.2
4                  415.9
5                 711745
dtype: object

In [24]:
btc_df.max()

0    2018-12-02 00:00:00
1                19547.5
2                  20093
3                18737.5
4                19547.5
5            7.56007e+09
dtype: object

In [46]:
ada_df = pd.read_csv(location + "res_12_03_og_all_hundreds_adau18z18_1d.csv", engine="python", header=None)
bch_df = pd.read_csv(location + "res_12_03_og_all_hundreds_bchu18z18_1d.csv", engine="python", header=None)
eos_df = pd.read_csv(location + "res_12_03_og_all_hundreds_eosu18z18_1d.csv", engine="python", header=None)
eth_df = pd.read_csv(location + "res_12_03_og_all_hundreds_ethu18z18_1d.csv", engine="python", header=None)
ltc_df = pd.read_csv(location + "res_12_03_og_all_hundreds_ltcu18z18_1d.csv", engine="python", header=None)
trx_df = pd.read_csv(location + "res_12_03_og_all_hundreds_trxu18z18_1d.csv", engine="python", header=None)
btc_df = pd.read_csv(location + "res_12_03_og_all_hundreds_xbtusd_1d.csv", engine="python", header=None)
xrp_df = pd.read_csv(location + "res_12_03_og_all_hundreds_xrpu18z18_1d.csv", engine="python", header=None)

In [56]:
ada_df

                       0       1        2       3       4            5
0    2018-12-02 00:00:00   999.0   1030.0   993.0  1010.0   60369898.0
1    2018-12-01 00:00:00   971.0   1010.0   958.0   999.0   71373531.0
2    2018-11-30 00:00:00   982.0    988.0   950.0   971.0   59490159.0
3    2018-11-29 00:00:00   999.0   1018.0   969.0   982.0   93125943.0
4    2018-11-28 00:00:00   952.0   1020.0   929.0   999.0  178208123.0
5    2018-11-27 00:00:00   945.0    959.0   927.0   952.0   57907088.0
6    2018-11-26 00:00:00   943.0    964.0   929.0   945.0   64591609.0
7    2018-11-25 00:00:00   987.0    991.0   900.0   943.0   99145344.0
8    2018-11-24 00:00:00   999.0   1013.0   950.0   987.0   73682140.0
9    2018-11-23 00:00:00  1017.0   1018.0   985.0   999.0   48480259.0
10   2018-11-22 00:00:00  1047.0   1056.0  1009.0  1017.0   43990871.0
11   2018-11-21 00:00:00  1005.0   1051.0   982.0  1047.0   52684818.0
12   2018-11-20 00:00:00  1069.0   1070.0   959.0  1005.0  135071261.0
13   2018-11-19 00:00:00  1111.0   1111.0  1000.0  1069.0  152066947.0
14   2018-11-18 00:00:00  1088.0   1126.0  1088.0  1111.0   50303488.0
15   2018-11-17 00:00:00  1089.0   1094.0  1072.0  1088.0   32767570.0
16   2018-11-16 00:00:00  1121.0   1131.0  1081.0  1089.0   60537476.0
17   2018-11-15 00:00:00  1123.0   1132.0  1061.0  1121.0   92886074.0
18   2018-11-14 00:00:00  1169.0   1186.0   947.0  1123.0  366166861.0
19   2018-11-13 00:00:00  1219.0   1220.0  1156.0  1169.0  159030647.0
20   2018-11-12 00:00:00  1221.0   1232.0  1190.0  1219.0  118937558.0
21   2018-11-11 00:00:00  1188.0   1244.0  1174.0  1221.0  239322150.0
22   2018-11-10 00:00:00  1174.0   1196.0  1169.0  1188.0   62280073.0
23   2018-11-09 00:00:00  1215.0   1233.0  1142.0  1174.0  202567390.0
24   2018-11-08 00:00:00  1235.0   1249.0  1201.0  1215.0  191308567.0
25   2018-11-07 00:00:00  1286.0   1289.0  1222.0  1235.0  200184141.0
26   2018-11-06 00:00:00  1220.0   1293.0  1219.0  1286.0  220189528.0
27   2018-11-05 00:00:00  1227.0   1270.0  1185.0  1220.0  208355423.0
28   2018-11-04 00:00:00  1151.0   1240.0  1150.0  1227.0  239553812.0
29   2018-11-03 00:00:00  1163.0   1164.0  1142.0  1151.0   65045961.0
..                   ...     ...      ...     ...     ...          ...
137  2018-07-18 00:00:00  2462.0   2725.0  2459.0  2554.0  134193460.0
138  2018-07-17 00:00:00  2414.0   2517.0  2351.0  2462.0   89226419.0
139  2018-07-16 00:00:00  2320.0   2439.0  2308.0  2414.0   47275764.0
140  2018-07-15 00:00:00  2251.0   2388.0  2237.0  2320.0   53051575.0
141  2018-07-14 00:00:00  2250.0   2290.0  2211.0  2251.0   45968146.0
142  2018-07-13 00:00:00  2104.0   2345.0  2082.0  2250.0  134659330.0
143  2018-07-12 00:00:00  2136.0   2137.0  2062.0  2104.0   22394397.0
144  2018-07-11 00:00:00  2084.0   2164.0  2056.0  2136.0   26525017.0
145  2018-07-10 00:00:00  2167.0   2170.0  2051.0  2084.0   33155357.0
146  2018-07-09 00:00:00  2221.0   2237.0  2159.0  2167.0   21158833.0
147  2018-07-08 00:00:00  2260.0   2285.0  2216.0  2221.0   22412717.0
148  2018-07-07 00:00:00  2249.0   2283.0  2154.0  2260.0   31986656.0
149  2018-07-06 00:00:00  2321.0   2326.0  2140.0  2249.0   40061122.0
150  2018-07-05 00:00:00  2392.0   2424.0  2264.0  2321.0   34010865.0
151  2018-07-04 00:00:00  2364.0   2561.0  2310.0  2392.0   48753739.0
152  2018-07-03 00:00:00  2430.0   2500.0  2352.0  2364.0   58465141.0
153  2018-07-02 00:00:00  2300.0   2501.0  2255.0  2430.0   81355594.0
154  2018-07-01 00:00:00  2194.0   2333.0  2124.0  2300.0   79387407.0
155  2018-06-30 00:00:00  2088.0   2227.0  2086.0  2194.0   55625109.0
156  2018-06-29 00:00:00  2084.0   2101.0  2003.0  2088.0   18517416.0
157  2018-06-28 00:00:00  2131.0   2138.0  2079.0  2084.0    2422951.0
158  2018-06-27 00:00:00  2095.0   2144.0  2093.0  2131.0    1734996.0
159  2018-06-26 00:00:00  2201.0   2204.0  2092.0  2095.0    1015835.0
160  2018-06-25 00:00:00  2171.0   2252.0  2128.0  2201.0    1510082.0
161  2018-06-24 00:00:00  2276.0   2274.0  2093.0  2171.0    2886006.0
162  2018-06-23 00:00:00  2333.0   2348.0  2227.0  2276.0    1404724.0
163  2018-06-22 00:00:00  2454.0   2454.0  2271.0  2333.0    3324446.0
164  2018-06-21 00:00:00  2467.0   2479.0  2440.0  2454.0     582759.0
165  2018-06-20 00:00:00  2616.0   2637.0  2450.0  2467.0    1507888.0
166  2018-06-19 00:00:00  2516.0  24520.0  2323.0  2616.0     884483.0

[167 rows x 6 columns]